/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

.active-tab {
  background-color: #d9b9ff !important;
  color: black !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button-danger {
  background-color: red!important;
}


/* Your app custom styles here */